openapi: "3.0.3"
info:
  title: "Minha API"
  version: "1.0.0"
  description: "Meu primeiro CI/CD"
  contact: 
    name: "Suporte"
    email: "suporte@exemplo.com"


tags:
  - name: "Tarefas"
    description: "Operações relacionadas ao gerenciamento de tarefas"

servers:
  - url: "https://api.exemplo.com/v1"
    description: "Produção"

paths:
  /tarefas:
    get:
      summary: "Listar tarefas"
      description: "Retorna uma lista completa de todas as tarefas cadastradas." # <-- Correção do operation-description
      operationId: "listTasks"
      tags: ["Tarefas"]
      responses:
        "200":
          description: "Lista de tarefas"
    post:
      summary: "Criar tarefa"
      description: "Cria uma nova tarefa com base nos dados fornecidos." # <-- Correção do operation-description
      operationId: "createTask"
      tags: ["Tarefas"]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/NovaTarefa"
      responses:
        "201":
          description: "Tarefa criada"
        "400":
          description: "Dados inválidos"

  /tarefas/{id}:
    get:
      summary: "Buscar tarefa"
      description: "Retorna os detalhes de uma tarefa específica informando o ID." # <-- Correção do operation-description
      operationId: "getTask"
      tags: ["Tarefas"]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: "Encontrada"
        "404":
          description: "Não encontrada"

    delete: # <-- Correção do Erro Crítico (Garantindo indentação limpa e dois-pontos)
      summary: "Excluir tarefa"
      description: "Remove uma tarefa permanentemente do sistema usando o ID." # <-- Correção do operation-description
      operationId: "deleteTask"
      tags: ["Tarefas"]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "204":
          description: "Tarefa excluída com sucesso"
        "404":
          description: "Tarefa não encontrada"

components:
  schemas:
    NovaTarefa:
      type: object
      required: [titulo]
      properties:
        titulo:
          type: string
          example: "Minha primeira tarefa"